.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 360px;
  margin: 1rem;
  position: relative;
  width: 250px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .card img {
    height: 300px;
    width: 250px;
    opacity: 0.7; }
  .card span {
    display: block;
    margin: 3px 10px;
    font-size: 15px;
    color: red; }
  .card img:hover {
    opacity: 1; }
  .card b {
    color: black; }

body {
  margin: auto;
  padding: 0;
  font-family: sans-serif;
  background-color: #F5F5F5; }

.col-md-2 {
  padding-left: 0px;
  padding-right: 0px; }

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.container-fluid {
  margin: 3%; }

.section-banner {
  position: relative;
  height: auto;
  width: 1320px;
  margin: 50px;
  z-index: -1;
  display: flex;
  margin: 50px auto; }

.section-products {
  width: 78%;
  height: auto;
  background-color: #fff;
  float: right; }

.section-news {
  position: relative;
  height: auto;
  width: 100%;
  margin: 4%;
  display: inline-block;
  margin: 0 auto; }
  .section-news__banner {
    width: auto;
    margin: 50px auto;
    text-align: center; }
    .section-news__banner a {
      text-decoration: none;
      color: black; }
    .section-news__banner a:hover {
      opacity: 0.9; }
  .section-news img {
    width: 100%;
    height: 400px; }
  .section-news iframe {
    width: 100%;
    height: 400px; }

.view-ads {
  width: 120px;
  text-align: center;
  padding: 20px;
  border: 1px solid #767676;
  margin: 50px auto; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%; }

.view-ads:hover {
  opacity: 0.5; }

.section-login {
  margin: 4% auto;
  max-width: 400px;
  padding: 40px 40px;
  background: #fff;
  color: #767676;
  background-color: #f8eee1;
  border: 1px solid #f8eee1;
  border-radius: 10px;
  display: flex; }
  .section-login form {
    margin: 0 auto; }
  .section-login input {
    border-radius: 3px;
    border: 1px solid #e6e1e1;
    width: 250px;
    padding: 6px; }
  .section-login button {
    background-color: burlywood;
    border: 1px solid burlywood;
    width: 120px;
    height: 40px;
    border-radius: 100px;
    margin: 10px 60px; }
  .section-login button:hover {
    color: #fff;
    background-color: #eed5b4; }

.header {
  height: 50px;
  padding: 0 0 20px 0;
  overflow: visible !important;
  margin: 0 auto;
  background: #435a62;
  transform: translate(0, 0);
  width: 100%;
  opacity: 1;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); }
  .header__pre-title {
    color: #fff;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 15px;
    font-size: 12px; }
  .header__link-container {
    font-size: 12px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 15px; }

.pre-title {
  width: 100%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px; }
  .pre-title a {
    color: #fff;
    margin-left: 10px;
    margin-right: 10px; }

.footer {
  margin-top: 20px;
  background-color: #435a62;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #fff;
  display: flex; }

.contact {
  width: 25%;
  height: 400px;
  margin: auto;
  float: left;
  background-color: #435a62; }
  .contact a {
    color: #9b9494; }
  .contact a:hover {
    color: #f1f1f1; }

.section-menu {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #f0f0f0;
  z-index: 3;
  background-color: #ffffff; }
  .section-menu img {
    display: inline-block;
    width: 150px;
    height: 16px; }
  .section-menu__logo {
    height: 50px;
    padding: 15px 50px; }

.section-menu__list {
  height: 50px;
  width: auto;
  display: flex;
  align-items: center; }
  .section-menu__list ul {
    float: left;
    display: block;
    color: #767676;
    text-align: center;
    padding: 16px 5px;
    text-decoration: none;
    font-size: 12px;
    margin: 0 auto;
    width: 80px; }

.section-menu__link {
  height: 50px;
  width: 80px;
  background-color: #ffffffa8; }
  .section-menu__link a {
    float: left;
    display: block;
    color: #767676;
    text-align: center;
    padding: 16px 5px;
    text-decoration: none;
    font-size: 12px;
    margin: 0 5px;
    left: 0; }

.section-menu__list-cloth {
  height: 50px;
  width: 80px;
  background-color: #ffffffa8;
  border-bottom: 1px solid #f0f0f0; }
  .section-menu__list-cloth a {
    float: left;
    display: block;
    color: #767676;
    text-align: center;
    padding: 16px 5px;
    text-decoration: none;
    font-size: 12px;
    margin: 0 5px;
    left: 0; }

.section-menu__link-cloth-woman {
  position: absolute;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 47px;
  background-color: #fff7f7cb;
  border-bottom: none;
  width: max-content;
  left: -200px;
  display: none; }

.section-menu__link-cloth-men {
  position: absolute;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff7f7cb;
  border-bottom: none;
  width: max-content;
  left: -200px;
  top: 47px;
  display: none; }

.section-menu__link-cloth-home {
  position: absolute;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff7f7cb;
  border-bottom: none;
  width: max-content;
  left: -120px;
  top: 47px;
  display: none; }

.section-menu__link-cloth-lifestyle {
  position: absolute;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff7f7cb;
  border-bottom: none;
  width: max-content;
  left: -20px;
  top: 47px;
  display: none; }

.section-menu__link-cloth-beauty {
  position: absolute;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff7f7cb;
  border-bottom: none;
  width: max-content;
  left: -200px;
  top: 47px;
  display: none; }

.section-menu__link-cloth-sale {
  position: absolute;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff7f7cb;
  border-bottom: none;
  width: max-content;
  left: -20px;
  top: 47px;
  display: none; }

.row {
  margin-left: 0;
  margin-right: 0; }

.woman:hover ul {
  opacity: 0.6;
  border-bottom: 1px solid black; }

.woman:hover .section-menu__link-cloth-woman {
  display: flex;
  z-index: 3; }

.woman a:hover {
  color: #c47575; }

.men:hover ul {
  opacity: 0.6;
  border-bottom: 1px solid black; }

.men:hover .section-menu__link-cloth-men {
  display: flex; }

.men a:hover {
  color: #c47575; }

.home a:hover {
  color: #c47575; }

.home:hover ul {
  opacity: 0.6;
  border-bottom: 1px solid black; }

.home:hover .section-menu__link-cloth-home {
  display: flex; }

.home a:hover {
  color: #c47575; }

.lifestyle:hover ul {
  opacity: 0.6;
  border-bottom: 1px solid black; }

.lifestyle:hover .section-menu__link-cloth-lifestyle {
  display: flex; }

.lifestyle:hover a:hover {
  color: #c47575; }

.beauty:hover ul {
  opacity: 0.6;
  border-bottom: 1px solid black; }

.beauty:hover .section-menu__link-cloth-beauty {
  display: flex; }

.beauty:hover a:hover {
  color: #c47575; }

.sale:hover ul {
  opacity: 0.6;
  border-bottom: 1px solid black; }

.sale:hover .section-menu__link-cloth-sale {
  display: flex; }

.sale:hover a:hover {
  color: #c47575; }

.section-menu__left {
  color: #1a1818;
  opacity: 0.5;
  float: right;
  height: 30px;
  width: 120px;
  padding-bottom: 3px;
  padding-left: 5px;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 12px; }
  .section-menu__left a {
    text-decoration: none;
    color: #1a1818; }

.section-menu__search-outside {
  border: 0.5px solid #a09b9b;
  color: #1a1818;
  opacity: 0.5;
  height: 30px;
  width: 120px;
  padding-bottom: 3px;
  padding-left: 5px;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 12px;
  border-radius: 3px; }

.section-show-menu {
  height: 50px;
  width: 100%; }

.section-filter {
  width: 18%;
  height: 646px;
  border-radius: 2px;
  border: 0.5px solid #f4f4f4;
  float: left;
  margin-left: 4%;
  z-index: 2;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .section-filter__title {
    height: 50px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f4f4f4; }

.bottom-unchoice:hover {
  opacity: 0.5; }

.glyphicon {
  width: auto;
  float: right;
  font-size: 12px;
  font-weight: 100;
  opacity: 0.2; }

.filter__arrow {
  width: 20px;
  float: right;
  height: 20px; }
