.section-filter {
    width: 18%;
    height: 646px;
    border-radius: 2px;
    border: 0.5px solid #f4f4f4;
    float: left;
    margin-left: 4%;
    z-index: 2;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    &__title {
        height: 50px;
        width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #f4f4f4;

    }
}

.bottom-unchoice:hover{
    opacity: 0.5;
}

.glyphicon
{
    width: auto;
    float: right;
    font-size: 12px;
    font-weight: 100;
    opacity: 0.2;
}
.filter__arrow{
    width: 20px;
    float: right;
    height: 20px;
}

