.footer{
    margin-top: 20px;
    background-color:#435a62;
    padding: 10rem 0;
    font-size: 1.4rem;
    color: #fff;
    display: flex;
}
.contact{
    width: 25%;
    height: 400px;
    margin:auto;
    float: left;
    background-color:#435a62;
    a{
        color:#9b9494;
    }
    a:hover{
        color: #f1f1f1;
    }
}