.header {
    height: 50px;
    padding: 0 0 20px 0;
    overflow: visible !important;
    margin: 0 auto;
    background: #435a62;
    transform: translate(0, 0);
    width: 100%;
    opacity: 1;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

    &__pre-title {
        color: #fff;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 15px;
        font-size: 12px;

    }

    &__link-container {
        font-size: 12px;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 15px;

    }
}

    .pre-title {
        width: 100%;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        a{
            color:#fff; 
            margin-left: 10px;
            margin-right: 10px;
        }

    }