.section-menu {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #f0f0f0;
    z-index: 3;
    background-color: #ffffff;

    img {
        display: inline-block;
        width: 150px;
        height: 16px;
    }

    &__logo {
        height: 50px;
        padding: 15px 50px;
    }

}

.section-menu__list {
    height: 50px;
    width: auto;
    display: flex;
    align-items: center;

    ul {
        float: left;
        display: block;
        color: #767676;
        text-align: center;
        padding: 16px 5px;
        text-decoration: none;
        font-size: 12px;
        margin: 0 auto;
        width: 80px;
    }
}

.section-menu__link {
    height: 50px;
    width: 80px;
    background-color: #ffffffa8;

    a {
        float: left;
        display: block;
        color: #767676;
        text-align: center;
        padding: 16px 5px;
        text-decoration: none;
        font-size: 12px;
        margin: 0 5px;
        left: 0;
    }
}

.section-menu__list-cloth {
    height: 50px;
    width: 80px;
    background-color: #ffffffa8;
    border-bottom: 1px solid #f0f0f0;

    a {
        float: left;
        display: block;
        color: #767676;
        text-align: center;
        padding: 16px 5px;
        text-decoration: none;
        font-size: 12px;
        margin: 0 5px;
        left: 0;
    }
}

.section-menu__link-cloth-woman {
    position: absolute;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: 47px;
    background-color: #fff7f7cb;
    border-bottom: none;
    width: max-content;
    left: -200px;
    display: none;
}

.section-menu__link-cloth-men {
    position: absolute;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #fff7f7cb;
    border-bottom: none;
    width: max-content;
    left: -200px;
    top: 47px;
    display: none;
}

.section-menu__link-cloth-home {
    position: absolute;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #fff7f7cb;
    border-bottom: none;
    width: max-content;
    left: -120px;
    top: 47px;
    display: none;
}

.section-menu__link-cloth-lifestyle {
    position: absolute;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #fff7f7cb;
    border-bottom: none;
    width: max-content;
    left: -20px;
    top: 47px;
    display: none;
}

.section-menu__link-cloth-beauty {
    position: absolute;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #fff7f7cb;
    border-bottom: none;
    width: max-content;
    left: -200px;
    top: 47px;
    display: none;
}

.section-menu__link-cloth-sale {
    position: absolute;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #fff7f7cb;
    border-bottom: none;
    width: max-content;
    left: -20px;
    top: 47px;
    display: none;
}

.row {
    margin-left: 0;
    margin-right: 0;
}


.woman:hover {
    ul{
        opacity: 0.6;
        border-bottom: 1px solid black;
    }
    .section-menu__link-cloth-woman {
        display: flex;
        z-index: 3;
    }
}

.woman a:hover {
    color: #c47575;
}


.men:hover {
    ul{
        opacity: 0.6;
        border-bottom: 1px solid black;
    }
    .section-menu__link-cloth-men {
        display: flex;
    }
}

.men a:hover {
    color: #c47575;
}

.home a:hover {
    color: #c47575;
}

.home:hover {
    ul{
        opacity: 0.6;
        border-bottom: 1px solid black;
    }
    .section-menu__link-cloth-home {
        display: flex;
    }
}

.home a:hover {
    color: #c47575;
}

.lifestyle:hover {
    ul{
        opacity: 0.6;
        border-bottom: 1px solid black;
    }
    .section-menu__link-cloth-lifestyle {
        display: flex;
    }
}

.lifestyle:hover a:hover {
    color: #c47575;
}

.beauty:hover {
    ul{
        opacity: 0.6;
        border-bottom: 1px solid black;
    }  
    .section-menu__link-cloth-beauty {
        display: flex;
    }
}

.beauty:hover a:hover {
    color: #c47575;
}

.sale:hover {
    ul{
        opacity: 0.6;
        border-bottom: 1px solid black;
    }
    .section-menu__link-cloth-sale {
        display: flex;
    }
}

.sale:hover a:hover {
    color: #c47575;
}


.section-menu__left{   
    color: #1a1818;
    opacity: 0.5;
    float: right;
    height: 30px;
    width: 120px;
    padding-bottom: 3px;
    padding-left: 5px;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 12px;
    
    a{
        text-decoration: none;
        color: #1a1818;
    }      
}
.section-menu__search-outside{
    border:0.5px solid #a09b9b;   
    color: #1a1818;
    opacity: 0.5;
    height: 30px;
    width: 120px;
    padding-bottom: 3px;
    padding-left: 5px;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 12px;
    border-radius: 3px;    
}

.section-show-menu{
    height: 50px;
    width: 100%;
}