.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 360px;
    margin: 1rem;
    position: relative;
    width: 250px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

    img {
        height: 300px;
        width: 250px;
        opacity: 0.7;
    }

    span {
        display: block;
        margin: 3px 10px;
        font-size: 15px;
        color: red;
    }

    img:hover {
        opacity: 1;
    }

    b {
        color: black;
    }
}


body{
    margin: auto;
    padding: 0;
    font-family: sans-serif;
    background-color: #F5F5F5;
}


.col-md-2 {
    padding-left: 0px;
    padding-right: 0px;
}


.card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.container-fluid {
    margin: 3%;
}

.section-banner {
    position: relative;
    height: auto;
    width: 1320px;
    margin: 50px;
    z-index: -1;
    display: flex;
    margin: 50px auto;
}

.section-products {
    width: 78%;
    height: auto;
    background-color: #fff;
    float: right;
}


.section-news {
    position: relative;
    height: auto;
    width: 100%;
    margin: 4%;
    display: inline-block;
    margin: 0 auto;

    &__banner {
        width: auto;
        margin: 50px auto;
        text-align: center;

        a {
            text-decoration: none;
            color: black;
        }
        a:hover{
            opacity: 0.9;
        }
    }

    img {
        width: 100%;
        height: 400px;
    }

    iframe {
        width: 100%;
        height: 400px;
    }
}

.view-ads {
    width: 120px;
    text-align: center;
    padding: 20px;
    border: 1px solid #767676;
    margin: 50px auto;
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.view-ads:hover {
    opacity: 0.5;
}