.section-login{
    margin: 4% auto;    
    max-width: 400px;
    padding: 40px 40px;
    background: #fff;
    color: #767676;
    background-color: rgb(248, 238, 225);
    border:1px solid rgb(248, 238, 225);
    border-radius: 10px;
    display: flex;
    form{
        margin: 0 auto;
    }
    input{
        border-radius: 3px;
        border:1px solid #e6e1e1;
        width: 250px;
        padding:6px;
    }
    button{
        background-color: burlywood;
        border: 1px solid burlywood;
        width: 120px;
        height: 40px;
        border-radius: 100px;
        margin: 10px 60px;
    }
    button:hover{
        color: #fff;
        background-color: rgb(238, 213, 180);
    }
    
}   